.gpt3__brand-socials img{
    width: 7rem;
        height: 3.2rem;
        border-radius: 50%;
}
.gpt3__brand{
    margin-top: 1.2rem;
    min-height: 40vh;
    text-align: center;
}
.gpt3__brand-socials{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.gpt3__brand-input{
margin: 4rem auto;
width: 100%;
display: flex;
gap: 10px;
flex-wrap: wrap;
justify-content: center;
text-align: center;
}
 .gpt3__brand-input input{
    padding: 1rem 1.5rem;
    width: 55%;
    text-align: center;
    border: none;
    outline: none;
    background-color: whitesmoke;
}
.gpt3__brand-input img{
width: 6rem;
    height: 4.5rem;
    /* margin-left: 1.2rem; */
    border-radius: 5px;
}
.gpt3__brand-input-img{
    max-width: 3rem;
    max-height: 3.3rem;
    margin-top: .3rem;
    position: relative;
    left: 4.5rem;
}
@media screen and (max-width:460px) {
    .gpt3__brand-input input{
        width: 85%;
    }
        .gpt3__brand-input-img{
            display: none;
        }
}