.edove__roadmap-map{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    padding: 2rem;
    justify-content: space-around;
}
.edove__roadmap-contentt h2{
    font-size: 2.5rem;
}
.slantLine{
    margin: 0 1.4rem;
}
.edove__roadmap-firstMap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    min-height: 20vh;
    
}
.edove__roadmap-content {
    max-width: 50%;
    padding-left: 3rem;
}
.edove__roadmap-contentt{
    margin: 4rem 0;
}
.map2, .map4{
    display: flex;
    justify-content: flex-end;
}
.map1, .map3{
    display: flex;
}
.map4 .edove__roadmap-content{
    margin-left: -3rem;
}

h3{
    padding-bottom: 3rem;
}


@media screen and (max-width:720px) {
    .edove__roadmap-content {
            max-width: 100%;
            
        }
}
@media screen and (min-width:960px) {
    .edove__roadmap-contentt{
        text-align: center;
        max-width: 70%;
        margin: 4rem auto;
    }
}