*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-bg);
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: white;
}
html{
    font-size: 62.5%;
}
a{
    color: unset;
    text-decoration: none;
}
/* .gradient__bg{
            background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
            background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
            background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
            background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
            background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
} */
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent
}
.section__padding{
    padding: 4rem 10rem;
}
.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
p{
    color: var(--color-text);
    font-size: 16px;
    line-height: 27px;
        font-weight: normal;
        font-style: normal;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.slide-fwd-center {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
    }
}
@media (min-width:700px) and (max-width:1100px){
    .section__padding {
        padding: 4rem 6rem;
    }
}

@media screen  and (max-width:700px){
    .section__margin{
margin: 4rem;
    }
    .section__padding{
padding: 4rem;
    }
}

@media screen and (max-width:550px) {
    .section__margin {
        margin: 4rem 2rem;
    }

    .section__padding {
        padding: 4rem 2rem;
    }
    p{
        font-size: 15px;
    }
}