@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #81AFDD 1.89%, #f99a67 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #81AFDD -13.86%, #f99a67 99.55%);

    --color-bg: #000000;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;
}